build:
  stage: build

  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]

  script:
    - sed -i "s/ubuntu:latest/ubuntu:${UBUNTU_VERSION}/" "${CI_PROJECT_DIR}/Dockerfile"
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${UBUNTU_VERSION}"

  parallel:
    matrix:
      - UBUNTU_VERSION: [trusty, xenial, bionic, focal, jammy, noble, plucky, questing]

  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == "schedule"
