build:
  stage: build

  image:
    name: moby/buildkit:rootless
    entrypoint: [""]

  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox

  before_script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json

  script:
    - sed -i "s/ubuntu:latest/ubuntu:${UBUNTU_VERSION}/" "${CI_PROJECT_DIR}/Dockerfile"
    - |
      buildctl-daemonless.sh build \
        --frontend dockerfile.v0 \
        --local context=. \
        --local dockerfile=. \
        --output type=image,name=$CI_REGISTRY_IMAGE:$UBUNTU_VERSION,push=true

  parallel:
    matrix:
      - UBUNTU_VERSION: [trusty, xenial, bionic, focal, jammy, noble, plucky, questing]

  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == "schedule"
